* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 4px;
  background-color: rgba(0, 0, 0, 0.25);
}
body::-webkit-scrollbar-thumb {
  background-color: orangered;
}

.backdrop {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 4;
}
.backdrop.-active {
  display: block;
}

.offcanvas {
  position: fixed;
  transform: translateX(100%);
  z-index: 5;
  right: 0;
  top: 0;
  bottom: 0;
  width: 480px;
  background-color: white;
  padding: 16px;
  border-radius: 8px 0 0 8px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.125);
  transition: transform 0.25s ease-in-out;
}
.offcanvas.-active {
  transform: translateX(0);
  transition: transform 0.25s ease-in-out;
}
.offcanvas__header {
  position: relative;
  padding: 16px;
  font-size: 1.5em;
  text-transform: uppercase;
  color: orangered;
  background-color: rgba(0, 0, 0, 0.03);
  margin-bottom: 16px;
  border-radius: 8px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.125);
}
.offcanvas__header--close {
  position: absolute;
  font-size: 1.5em;
  top: 0;
  right: 0;
  padding: 8px;
  color: rgba(0, 0, 0, 0.25);
}
.offcanvas__header--close:hover {
  color: black;
}
.offcanvas__body {
  display: flex;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 16px;
  background-color: rgba(0, 0, 0, 0.03);
  border-radius: 8px;
  height: calc(100vh - 152px);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.125);
}
.offcanvas__body::-webkit-scrollbar {
  width: 4px;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}
.offcanvas__body::-webkit-scrollbar-thumb {
  background-color: orangered;
  border-radius: inherit;
}
.offcanvas__footer {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 16px;
  justify-content: center;
  align-items: center;
}
.offcanvas__footer--button {
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.125);
}
.offcanvas__footer--button.-close {
  margin-right: 16px;
  color: rgba(0, 0, 0, 0.75);
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.offcanvas__footer--button.-close:hover {
  color: black;
  background-color: rgba(0, 0, 0, 0.125);
}
.offcanvas__footer--button.-close:active {
  color: rgba(0, 0, 0, 0.75);
  background-color: white;
}
.offcanvas__footer--button.-go-cart {
  color: orangered;
  background-color: white;
  border: 1px solid orangered;
}
.offcanvas__footer--button.-go-cart:hover {
  color: white;
  background-color: orangered;
}
.offcanvas__footer--button.-go-cart:active {
  color: orangered;
  background-color: white;
}
.offcanvas.-cart .cart__item {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin-bottom: 16px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.125);
}
.offcanvas.-cart .cart__item:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
}
.offcanvas.-cart .cart__item--img {
  width: 120px;
  height: auto;
  border-radius: 8px 0 0 8px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}
.offcanvas.-cart .cart__item--img img {
  width: inherit;
  height: inherit;
  border-radius: inherit;
}
.offcanvas.-cart .cart__item--name {
  padding: 16px;
}
.offcanvas.-cart .cart__item--price {
  padding: 16px;
  color: orangered;
}

.header {
  display: flex;
  position: fixed;
  top: 0;
  flex-direction: column;
  width: 100%;
  padding: 0 160px;
  background-color: orangered;
  z-index: 3;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.125);
}
.header__top, .header__bottom {
  height: 24px;
}
.header__middle {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.header__left {
  width: 15%;
}
.header__brand {
  color: white;
  text-align: center;
}
.header__center {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__search {
  display: flex;
  width: 100%;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.125);
}
.header__search--input {
  width: 100%;
  margin-right: 4px;
}
.header__search--input input {
  width: inherit;
  height: 100%;
  padding: 0 16px;
  border: none;
  border-radius: 8px;
}
.header__search--icon {
  padding: 8px 16px;
  background-color: orangered;
  color: white;
  border: 2px solid white;
  border-radius: 8px;
}
.header__search--icon:hover {
  opacity: 0.75;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.125);
}
.header__right {
  display: flex;
  justify-content: space-evenly;
  width: 25%;
}
.header__cart {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  color: white;
}
.header__cart:hover .header__cart--icon {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.125);
}
.header__cart--icon {
  font-size: 2em;
  padding: 0 8px;
  border-radius: 8px;
}
.header__cart--title {
  font-size: 0.75em;
  padding: 4px;
}
.header__account {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__account--img {
  background-color: white;
  margin-right: 8px;
  width: auto;
  height: 100%;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__account--img img {
  width: inherit;
  height: inherit;
  border-radius: inherit;
}
.header__account--name {
  color: white;
}

.body {
  width: 100%;
  margin-top: 93.6px;
  padding: 0 160px;
  background-color: rgba(0, 0, 0, 0.03);
}
.body__item {
  padding: 16px;
  background-color: white;
}
.body__item--title {
  font-size: 1.5em;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.03);
  color: orangered;
  padding: 16px;
  border-radius: 8px 8px 0 0;
}
.body__item--container {
  display: flex;
  overflow-y: hidden;
  overflow-x: auto;
  padding: 16px;
  background-color: rgba(0, 0, 0, 0.03);
  border-radius: 0 0 8px 8px;
}
.body__item--container::-webkit-scrollbar {
  height: 4px;
  background-color: rgba(0, 0, 0, 0.25);
}
.body__item--container::-webkit-scrollbar-thumb {
  background-color: orangered;
}
.body__item--subitem {
  background-color: white;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.125);
  margin-right: 16px;
  border-radius: 8px;
}
.body__item--subitem:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
}
.body__item--subitem--img {
  width: 160px;
  height: auto;
  border-radius: inherit;
}
.body__item--subitem--img img {
  width: inherit;
  height: inherit;
  border-radius: inherit;
}
.body__item.-slider .body__item--subitem {
  display: flex;
  justify-content: center;
  align-items: center;
}
.body__item.-slider .body__item--subitem--img {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.body__item.-slider .body__item--subitem--img img {
  width: inherit;
  height: inherit;
}
.body__item.-category .body__item--subitem--name {
  text-align: center;
  margin: 16px 0;
}
.body__item.-flashsale .body__item--subitem {
  position: relative;
}
.body__item.-flashsale .body__item--subitem--img {
  width: 248px;
}
.body__item.-flashsale .body__item--subitem--price {
  text-align: center;
  font-size: 1.5em;
  color: red;
  text-align: center;
  margin: 16px 0;
}
.body__item.-flashsale .body__item--subitem--saleoff-percent {
  position: absolute;
  top: 16px;
  right: 0;
  background-color: yellow;
  color: red;
  border-radius: 999em 0 0 999em;
  padding: 8px;
  text-transform: uppercase;
}
.body__item.-trending .body__item--subitem--img, .body__item.-newest .body__item--subitem--img {
  width: 195.2px;
}
.body__item.-trending .body__item--subitem--price, .body__item.-newest .body__item--subitem--price {
  text-align: center;
  font-size: 1.5em;
  color: red;
  text-align: center;
  margin: 16px 0;
}
.body__item.-all .body__item--container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 16px;
  justify-content: center;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.03);
}
.body__item.-all .body__item--subitem {
  position: relative;
  margin: unset;
  z-index: 1;
  width: 200px;
}
.body__item.-all .body__item--subitem--img {
  width: inherit;
  height: auto;
}
.body__item.-all .body__item--subitem--img img {
  width: inherit;
  height: inherit;
}
.body__item.-all .body__item--subitem--name {
  width: inherit;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  min-height: 2em;
  text-align: start;
  padding: 0 8px;
  margin: 8px 0 48px 0;
}
.body__item.-all .body__item--subitem--price {
  position: absolute;
  color: red;
  bottom: 0;
  left: 0;
  padding: 8px;
}
.body__item.-all .body__item--subitem--sold {
  position: absolute;
  bottom: 0;
  right: 0;
  color: rgba(0, 0, 0, 0.5);
  padding: 8px;
}
.body__item.-all .body__item--subitem--saleoff-percent {
  position: absolute;
  top: 0;
  right: 16px;
  background-color: yellow;
  color: red;
  border-radius: 0 0 16px 16px;
  padding: 8px;
  text-transform: uppercase;
}
.body__item.-cart .body__item--container {
  flex-direction: column;
  overflow: hidden;
}
.body__item.-cart .body__item--subitem {
  display: flex;
  align-items: center;
  margin: unset;
  margin-bottom: 16px;
}
.body__item.-cart .body__item--subitem--img {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px 0 0 8px;
  margin-right: 16px;
}
.body__item.-cart .body__item--subitem--name {
  margin-right: 16px;
}
.body__item.-cart .body__item--subitem--price {
  margin-right: 16px;
}
.body__item.-cart .body__item--subitem--price.-total {
  color: orangered;
}
.body__item.-cart .body__item--subitem--quantity {
  margin-right: 16px;
  width: 64px;
}
.body__item.-cart .body__item--subitem--quantity--input {
  width: 100%;
  height: 100%;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.body__item.-cart .body__item--subitem--button {
  padding: 8px;
  background-color: white;
  border-radius: 8px;
}
.body__item.-cart .body__item--subitem--button.-remove {
  color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.25);
}
.body__item.-cart .body__item--subitem--button.-remove:hover {
  color: black;
  background-color: rgba(0, 0, 0, 0.25);
}
.body__item.-buy .body__item--container {
  border-radius: 8px;
}
.body__item.-buy .body__item--subitem {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 8px;
  margin: unset;
  width: 100%;
}
.body__item.-buy .body__item--subitem--price.-total {
  font-size: 1.2em;
  color: orangered;
  background-color: white;
  padding: 16px;
}
.body__item.-buy .body__item--subitem--name {
  font-size: 1.2em;
  color: orangered;
  background-color: white;
  padding: 16px;
  text-transform: uppercase;
}
.body__item.-buy .body__item--subitem--quantity.-total {
  font-size: 1.2em;
  color: orangered;
  background-color: white;
  padding: 16px;
}
.body__item.-buy .body__item--subitem--button {
  background-color: white;
  color: orangered;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid orangered;
  text-transform: uppercase;
  font-size: 1.5em;
}
.body__item.-buy .body__item--subitem--button:hover {
  color: white;
  background-color: orangered;
}

.footer {
  background-color: white;
  padding: 0 160px;
  border-top: 4px solid orangered;
  display: flex;
}
.footer__item {
  padding: 8px;
  background-color: orangered;
  margin: 16px;
  border-radius: 8px;
  color: white;
}

/*# sourceMappingURL=index.css.map */
