* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background-color: rgba(0, 0, 0, 0.03);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

// img {
//     width: 240px;
//     height: 240px;
// }

.item {

    background-color: white;
    padding: 16px;
    flex-direction: column;
    width: fit-content;
}

.current {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 460px;
    height: auto;

    & img {
        width: 100%;
        height: 100%;
    }

    & video {
        width: 100%;
        height: 100%;
    }
}

.map {
    display: flex;
    flex-direction: row;
    width: 460px;
    height: auto;
    overflow-y: hidden;
    overflow-x: auto;
    padding: 8px;

    &::-webkit-scrollbar {
        height: 4px;
        background-color: rgba(0, 0, 0, 0.03);

        &-thumb {
            background-color: orangered;
        }
    }

    &__item+&__item {
        margin-left: 8px;
    }

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 82px;
        height: 82px;

        &.-active {
            box-shadow: 0 0 1px 4px orangered;
        }

        & img {
            width: 100%;
            height: 100%;
        }

        & video {
            width: 100%;
            height: 100%;
        }
    }
}